/*сброс настроек оформления по умолчанию*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

:root {
  --colmain: #2196f3;
  --colsec: #212121;
  --colwhite: #ffffff;
  --colgrey: #757575;
  --colsubgrey: #f5f4fa;
}

.page-main-container {
  width: 1600px;
}
/* main styles*/
.logo {
  display: block;
  height: 31px;
}
.logo-web {
  color: var(--colmain);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-studio {
  color: var(--colsec);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-container {
  margin-left: 215px;
  width: 145px;
  height: 31px;
  margin-top: 24px;
}

.header-container {
  display: flex;
  height: 80px;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 16px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.nav-container-item {
  margin-right: 50px;
  padding-left: 0px;
}

.nav-container-item:first-child {
  width: 49px;
}
.nav-container-item:nth-child(2) {
  width: 77px;
}
.nav-container-item:last-child {
  margin-right: 0px;
  width: 68px;
}

.contacts-links {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--colgrey);
}
.contacts-links:hover,
.contacts-links:focus {
  color: var(--colmain);
}
.mail-telephone-container {
  display: flex;
  height: 16px;
  margin-left: 331px;
  margin-top: 32px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.mail-telephone-item {
  margin-left: 50px;
  height: 16px;
}
.mail-telephone-item:last-child {
  margin-right: 0px;
  width: 122px;
}
.mail-telephone-item:first-child {
  width: 135px;
  margin-left: 0px;
}
.links-pages {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--colsec);
}

.links-pages:hover,
.links-pages:focus {
  color: var(--colmain);
}

.links-pages.current {
  color: var(--colmain);
}

.hero {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--colwhite);
  margin-top: 200px;
  margin-bottom: 0px;
}

.button-hero {
  width: 200px;
  height: 50px;
  background: var(--colmain);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--colwhite);

  margin-top: 30px;
  margin-bottom: 200px;
}

.general-description h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--colsec);
}

.general-description p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--colgrey);
}

.work-team {
  background-color: var(--colsubgrey);
}
.section-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--colsec);
}

.employees h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--colsec);
}

.employees p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--colgrey);
}

footer {
  background-color: #2f303a;
}

.logo-footer .logo-studio {
  color: var(--colwhite);
}

address p {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;

  letter-spacing: 0.03em;
  color: var(--colwhite);
}

address a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}

/*styles for main section portfolio webpage*/

.button-link-portfolio button {
  background: var(--colsubgrey);
  border-radius: 4px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  /*styles for text in button-link*/
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: var(--colsubgrey);

  color: var(--colsec);
}

.button-link-portfolio button:hover,
.button-link-portfolio button:focus {
  background: var(--colmain);
  color: var(--colwhite);
}

.images-projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: var(--colsec);
}

.images-projects p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--colgrey);
}
